body {
    font-family: var(--primary-font), sans-serif;
    font-style: normal;
    font-weight: 500;
    background: var(--text-secondary-ligter);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}


