.clients {
    background: var(--text-secondary-ligter);
    padding-top: 94px;
    padding-bottom: 94px;

    &__text_bar {
        margin: 0 0 50px 0;
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
    }

    &__items {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    } 

    &__ico {
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;  
    
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            border: 1px solid var(--theme-color);
        }
    }

    &__craft-logo {
        width: 106px;
        height: 60px;
        fill: #AFB1B8; 
        
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.clients__ico:focus .clients__craft-logo,
.clients__ico:hover .clients__craft-logo{
    fill: var(--theme-color);
}

.clients__items .clients__img-icons:not(:last-child) {
    margin-right: 30px;
}