.doing-bar {
    padding-bottom: 94px;

    &__text {
        margin-top: 0; 
        padding: 0;
        text-align: center;
        margin-bottom: 50px;
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: var(--text-primary);
    }

    &__point {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }

    &.img_one {
        width: 370px;
    }

    &__text-do {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 370px;
        height: 70px;
        bottom: 0;
        left: 0;
        background: rgba(47, 48, 58, 0.8);
    }

    &__write {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;   
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--text-secondary-ligter);
    }
}

.level {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.img_one {
    position: relative;
}